/* .bg
{
position: relative;
background-color: #e1ad01;
height: 1000px;
padding-top: 20px;
} */
td.rows{
   text-align: right;
}

.table>:not(caption)>*>* {
   padding: 2px !important;
}

hr {
   color: gray;
   margin-bottom: 2px;
}

h2 {
   margin-bottom: -0.5rem !important;
   font-size: 20px !important;
}

.card2 {
   background-color: #e4e4e478 !important;
   text-align: center;
   padding-bottom: 40px;
   /* padding-top: 20px;
margin-left: 100px;
margin-right: 100px;
margin-top: 30px;
margin-bottom: 100px; */
   border-radius: 20px;
   /* height: auto; */
}

.form1 input {
   line-height: 20px;
   padding-left: 30px;
   margin-right: 30px;
}

.form1 label {
   padding-left: 30px;
}

.form1 button {
   margin-bottom: 30px;
   background-color: white;
   margin-top: 10px;
}

#text {
   border: 1px solid rgba(0, 0, 0, 0.438);
   width: 25vw;
   height: 8vw;
}

.card1 {
   background-color: #d7d7d794 !important;
   text-align: center;
   /* padding-top: 10px; */
   /* margin-left: 100px; */
   /* margin-right: 100px; */
   border-radius: 10px;
   height: 53px !important;
   align-items: center;
}

.card1 img {
   width: 150px;
   /* height: 100px; */
}

/* Small screen */
@media only screen and (max-width: 600px) {
   input[type="text"] {
      width: 80%;
   }

   input[type="number"] {
      width: 80%;
   }
}

/*Customization*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'El Messiri', sans-serif;
}

body {
   background: #031323;
   overflow: hidden;
}

.fas {
   width: 32px;
}

section {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   background-size: 400% 400%;
   animation: gradient 10s ease infinite;
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }

   50% {
      background-position: 100% 50%;
   }

   100% {
      background-position: 0% 50%;
   }
}